<head>
    <title>Responsive Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="container">
    <!-- header -->
    <header id="header">
        <h1 id="title">Responsive Layout</h1>
    </header>
    <!-- Navigation -->
    <nav id="menu" class="clearfix">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav> 
    <!-- Main Content area -->
    <section id="content">
        <h2>Built with CSS3 and HTML5</h2>
        {{ content }}
    </section>
    <!-- Sidebar -->
    <aside  id="sidebar">
        <h3>This is the Sidebar</h3>
        <!-- Sidebar content -->
    </aside>
    <!-- Footer -->
    <footer id="footer" class="clearfix">
        Copyright &copy Andor Nagy 2015
    </footer>
</div>
</body>
</html>
